body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

#nav_bar #borda {
    background-color: #1f102c;
    margin-right: 48px;
    margin-left: 10px;
    padding: 250px;
    border-radius: 25px;
    clear: both;
    display: block;
}

#nav_bar #borda h1 {
    color: white;
    margin-top: 0;
}

#nav_bar #borda label {
    color: white;
}

#search_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search_container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search_container form label,
#search_container form input {
    margin-bottom: 10px;
}